@model IEnumerable<RETMINSISTEM.Models.VEHICULO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUCURSAL.RUC_SUCURSAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COD_VEHICULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ADQUISISION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBIC_ACTUAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUCURSAL.RUC_SUCURSAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD_VEHICULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODELO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ADQUISISION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBIC_ACTUAL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_VEHICULO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_VEHICULO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_VEHICULO })
        </td>
    </tr>
}

</table>
