@model IEnumerable<RETMINSISTEM.Models.KARDEX>

@{
    ViewBag.Title = "ARTICULOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ARTICULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOTO_ARTICULO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ARTICULO)
            </td>
            <td>
                @{
                    if (item.FOTO_ARTICULO != null)
                    {
                        var base64 = Convert.ToBase64String(item.FOTO_ARTICULO);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgsrc" style="max-width:100px; max-height:100px;" />
                    }
                    else
                    {
                        <img src="~/Sources/productBase.jpg" style="max-width:100px; max-height:100px;" />
                    }
                }

            </td>
            <td>
                @Html.ActionLink("Ver movimientos", "Index", "DKardex", new { id = item.ID_KARDEX }, new {}) |
            </td>
        </tr>
    }

</table>
