@model RETMINSISTEM.Models.DESCRIPCION_KARDEX

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DESCRIPCION_KARDEX</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" name="ID_KARDEX" value=@ViewBag.ID_KARDEX readonly />

    <div class="form-group">
        <label for="CONTRACENIA" class="control-label col-md-2">ARTICULO</label>
        <div class="col-md-10">
            <input type="text" id="ARTICULO" class="form-control" name="ARTICULO" readonly value=@ViewBag.ARTICULO />
        </div>
    </div>

    <div class="form-group">
        <label for="FECHA_KARDEX" class="control-label col-md-2">FECHA</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FECHA_KARDEX, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHA_KARDEX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="VALOR_UNITARIO" class="control-label col-md-2">COSTO UNITARIO</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.VALOR_UNITARIO, new { htmlAttributes = new { @class = "form-control", @step = "0.01" } })
            @Html.ValidationMessageFor(model => model.VALOR_UNITARIO, "", new { @class = "text-danger" })
        </div>
    </div>
    @{ if (!ViewBag.ISEMPY)
        {

            <div class="form-group">
                <label for="CANTIDAD" class="control-label col-md-2">CANTIDAD</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CANTIDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CANTIDAD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="ID_TRANSACCION" class="control-label col-md-2">TIPO DE TRANSACCIÓN</label>
                <div class="col-md-10">
                    @Html.DropDownList("ID_TRANSACCION", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TRANSACCION, "", new { @class = "text-danger" })
                </div>
            </div>

        }
        else
        {
            <div class="form-group">
                <label for="CANTIDAD_SALDO" class="control-label col-md-2">CANTIDAD TOTAL</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CANTIDAD_SALDO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CANTIDAD_SALDO, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    }
    <div class="form-group">
        <label for="CADUCIDAD" class="control-label col-md-2">FECHA DE CADUCIDAD</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CADUCIDAD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CADUCIDAD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="DESCIPCION_KARDEX1" class="control-label col-md-2">DESCRIPCIÓN</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESCRIPCION_KARDEX1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DESCRIPCION_KARDEX1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
            if (ViewBag.sotckInsuficiente) { 
                <p>No hay suficiente Stock</p>
            }


        }



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
