@model IEnumerable<RETMINSISTEM.Models.DESCRIPCION_KARDEX>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            USUARIO
        </th>
        <th>
            FECHA
        </th>
        <th>
            DESCRIPCION
        </th>
        <th>
            TIPO DE TRANSACCIÓN
        </th>
        <th>
            C. UNITARIO
        </th>
        <th>
           CANTIDAD
        </th>
        <th>
           VALOR TOTAL
        </th>
        <th>
           CANTITAD SALDO
        </th>
        <th>
           VALOR SALDO
        </th>
        <th>
            FECHA CADUCIDAD
        </th>
        <th>CANTIDAD DISPONIBLE</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.COD_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_KARDEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_KARDEX1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANSACCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_UNITARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_SALDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_SALDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CADUCIDAD)
        </td>
        @{
            if (item.CANTIDAD_DISPONIBLE != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CANTIDAD_DISPONIBLE)
                </td>

            }
            else
            {
                <td>
                   -
                </td>

            }

        }

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_DESCRIPCION_KARDEX }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_DESCRIPCION_KARDEX }) |

        </td>
    </tr>
}

</table>
